/*body{margin: 0}*/
.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: mediumpurple;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.Header a{
    text-decoration: none;
    color: purple;
    font-size: larger;
    font-family: "Berlin Sans FB", sans-serif
}

/*.Header a[class='active']{*/
/*    color: lightpink;*/
/*}*/